<% if(pager.pages.length>0) {%>
<div class="page">
    <ul class="pagination">
        <li class="first"><a href="<%= pager.pages[0].url %>">&lt;&lt;</a></li>
        <% for(var i = 0;i < pager.pages.length;i++){ %>
        <% if(i<pager.nowPage-3 || i>pager.nowPage*1+3) continue; %>
        <li <% if(pager.nowPage==pager.pages[i].idx){%> class="active" <%}%>><a href="<%= pager.pages[i].url %>"><%= pager.pages[i].idx %></a></li>
        <% } %>
        <li class="last"><a href="<%= pager.pages[pager.pages.length - 1].url %>">&gt;&gt;</a></li>
    </ul>
    <div>共 <%= pager.pages.length %> 页, 共 <%= pager.total %> 条.</div>
</div>
<%}%>